<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


      <div th:replace="fragments::bar"></div>
      <header th:replace="fragments::header"></header>

    
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('static/images/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">About Us</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <img src="images/book-ads.jpg" alt="Image" class="img-fluid">
                    <img style="padding-top: 40px" src="images/books-ads1.jpeg" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Welcome to Ala-Too Books</span>
                    </h2>
                    <p>At Ala-Too Books, we are passionate about books and committed to providing a unique and inspiring experience for book lovers. As avid readers ourselves, we understand the joy of getting lost in the pages of a captivating story, the thrill of discovering a new author, and the satisfaction of finding that perfect book.

                        Our bookstore is more than just a place to buy books; it's a sanctuary for literary enthusiasts. With our carefully curated collection spanning various genres, from classic literature to contemporary fiction, from thought-provoking non-fiction to engrossing young adult novels, we aim to cater to every taste and interest. We believe that a well-stocked bookstore is a treasure trove waiting to be explored, and we take pride in offering a wide selection of titles that will captivate readers of all ages.

                        Beyond our extensive range of books, we strive to create a warm and welcoming atmosphere that fosters a sense of community. Our knowledgeable and passionate staff is always ready to assist you in finding the perfect book or offering insightful recommendations. We understand that each reader is unique, and we take pleasure in connecting you with stories that will resonate with you personally.
                    </p>
                </div>
            </div>

            <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <img src="images/course_3.jpg" alt="Image" class="img-fluid">
                        <img style="padding-top: 40px" src="images/books.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>Transferees</span>
                        </h2>
                        <p>We also host a variety of events and activities to further enrich your reading experience. From author signings and book clubs to reading workshops and literary discussions, we aim to create opportunities for book lovers to come together, share their love for literature, and engage in meaningful conversations.

                            As a local, independent bookstore, we are deeply committed to supporting both established and emerging authors. We actively promote local talent and often showcase works from regional writers, providing them with a platform to reach a wider audience. We believe in the power of storytelling to inspire, educate, and transform lives, and we are proud to contribute to the literary landscape of our community.

                            Whether you are a longtime book aficionado or a curious newcomer to the world of reading, we invite you to visit Ala-Too Books. Immerse yourself in the magic of books, discover new worlds, and embark on countless literary adventures. Let our bookstore be your haven, a place where stories come alive, and where the love for books is celebrated.

                            Thank you for choosing Ala-Too Books. We look forward to sharing the joy of reading with you.</p>
                    </div>
                </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('static/images/hero_1.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Our Philosphy</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Academics Principle</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Key of Success</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
          </div>
        </div>
      </div>


      <div th:replace="fragments::footer"></div>

  </div>
  <!-- .site-wrap -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg></div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>




  <script src="js/main.js"></script>

</body>

</html>